body {
  margin: 0;
  background-color: lightgrey;
}

.help {
  margin-top: 100px;
  background-color: white;
  padding: 16px;
}

@media (max-width: 768px) {
  .help {
    display: none;
  }  
}

.theme-btn {
  padding: 8px;
  font-weight: bold;
}