@import "../../assets/sass/_global/variables";
@import "../../assets/sass/_global/fonts";

.headerNavUi {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: $gray-90;
  position: relative;
}

.primaryNav {
  background: $gray-90;
  color: $white;
  height: 80px;
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 1;
}