@import "../../assets/sass/_global/variables";

@mixin mobile-only {
  @media (min-width: $screen-sm + 1px) {
    display: none;
  }
}

@mixin hide-mobile {
  @media (max-width: $screen-sm) {
    display: none;
  }
}

@mixin mobile {
  @media (max-width: $screen-sm) {
    @content;
  }
}

@mixin screen-md {
  @media (max-width: $screen-md) {
    @content;
  }
}

@mixin button-reset {
  background-color: transparent;
  border: none;
  padding: 0;

  &:focus {
    outline: none;
  }
}